on early-init
    start ueventd

on init
    export PATH /sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
	export EXTERNAL_STORAGE /storage/sdcard1
    symlink /system/etc /etc
	symlink /sbin/busybox /sbin/sh
	export LD_LIBRARY_PATH .:/sbin
	
    mkdir /boot
    mkdir /storage
    mkdir /storage/sdcard1
    mkdir /datadata
    mkdir /system
    mkdir /data
    mkdir /cache
    mount /tmp /tmp tmpfs
on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

#symlink /data/media /sdcard
setprop service.adb.root 1	
# Always start adbd on userdebug and eng builds
# In recovery, always run adbd as root.
on property:service.adb.root=1
    write /sys/class/usb_composite/adb/enable 0
	write /sys/class/usb_composite/usb_mass_storage/enable 0
    restart adbd
    write /sys/class/usb_composite/adb/enable 1
	write /sys/class/usb_composite/usb_mass_storage/enable 1
on property:persist.service.adb.enable=1
    start adbd	
service recovery /sbin/recovery

service adbd /sbin/adbd recovery
    disabled		
