import /init.${ro.hardware}.usb.rc

on init
    # Set permissions for persist partition
    mkdir /persist 0771 system system

    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage 0550 system sdcard_r
    mkdir /storage/emulated 0555 root root

    # External storage directories
    mkdir /storage/sdcard1 0000 system system
    mkdir /storage/usbdisk0 0000 system system

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export SECONDARY_STORAGE /storage/sdcard1
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # for backwards compatibility
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    symlink /storage/sdcard1 /sdcard-ext
    symlink /storage/sdcard1 /mnt/sdcard-ext
    symlink /storage/usbdisk0 /usbdisk0
    symlink /storage/usbdisk0 /mnt/usbdisk0

on fs
    # mount mmc partitions
    mount_all /V55.fstab
    
on post-fs-data
    # We chown/chmod /persist again so because mount is run as root + defaults
    chown system system /persist
    chmod 0771 /persist

    # chown/chmod polling nodes as needed from UI running on system server    
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling

    mkdir /data/media 0777 media_rw media_rw
    
    # set permissions for invensense mpu
    chmod 0777 /dev/taos
	chmod 0777 /dev/mpu
	chmod 0777 /dev/mpuirq
	chmod 0777 /dev/accelirq
    chmod 0777 /dev/timerirq
    
    # workaround for sdcard service
    class_start late_start
    
    # for encrypted filesystems
    setprop vold.post_fs_data_done 1
    
    # set bluetooth mac address
    setprop ro.bt.bdaddr_path "/persist/zte/bt/bt_addr.txt"	
    setprop bt.bcm_bdaddr_path "/persist/zte/bt/bt_addr.txt"	
    
    # permissions for bluetooth.
    chown bluetooth bluetooth /persist/zte/bt
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    
on boot
    # create wifi/bluetooth directories
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
    
    # set bluetooth mac address
    setprop ro.bt.bdaddr_path "/persist/zte/bt/bt_addr.txt"	
    setprop bt.bcm_bdaddr_path "/persist/zte/bt/bt_addr.txt"	
    
    # permissions for bluetooth.
    chown bluetooth bluetooth /persist/zte/bt
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

    # set up wifi
    symlink /persist/qcom_wlan_nv.bin /etc/firmware/wlan/qcom_wlan_nv.bin
    symlink /data/hostapd/qcom_cfg.ini /etc/firmware/wlan/qcom_cfg.ini
    #insmod /system/lib/modules/dhd.ko firmware_path=/system/etc/wifi/bcm4330_b2.bin nvram_path=/persist/zte/wifi/bcm.txt
    setprop wifi.interface eth0
    
    # create location services directories
    mkdir /data/wpstiles/ 0755 shell
    mkdir /data/wiper 0755 gps qcom_oncrpc
    
    # create audio directories
    mkdir /data/misc/audio 0770 audio audio
    mkdir /data/audio/ 2770 media audio
    
service hciattach /system/bin/brcm_patchram_plus --enable_lpm --enable_hci --baudrate 921600 --patchram /etc/firmware/bcm.hcd /dev/ttyHS0 any &
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    
service wpa_supplicant /system/bin/wpa_supplicant -D wext -i eth0 -c /data/misc/wifi/wpa_supplicant.conf 
    user root
    group wifi inet
    socket wpa_eth0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -BKL
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot 

service wiperiface /system/bin/logwrapper /system/bin/wiperiface
    user location
    group qcom_oncrpc system
    oneshot
    
service sdcard /system/bin/sdcard /data/media /mnt/shell/emulated 1023 1023
    class late_start
    
on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd_eth0
    
on property:init.svc.bootanim=stopped
    # currently just a huge blob to hopefully fix issues with mpdecision and thermald
	echo 1 > /sys/module/rpm_resources/enable_low_power/L2_cache
	echo 1 > /sys/module/rpm_resources/enable_low_power/pxo
	echo 2 > /sys/module/rpm_resources/enable_low_power/vdd_dig
	echo 2 > /sys/module/rpm_resources/enable_low_power/vdd_mem
	echo 1 > /sys/module/rpm_resources/enable_low_power/rpm_cpu
	# cpu0
	echo 1 > /sys/module/pm_8x60/modes/cpu0/power_collapse/suspend_enabled
	echo 1 > /sys/module/pm_8x60/modes/cpu0/standalone_power_collapse/suspend_enabled
	echo 1 > /sys/module/pm_8x60/modes/cpu0/power_collapse/idle_enabled
	echo 1 > /sys/module/pm_8x60/modes/cpu0/standalone_power_collapse/idle_enabled
	chown system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
	chown system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
	# cpu1
	chown root.system /sys/devices/system/cpu/cpu1/online
	chmod 664 /sys/devices/system/cpu/cpu1/online
	echo 1 > /sys/module/pm_8x60/modes/cpu1/power_collapse/suspend_enabled
	echo 1 > /sys/module/pm_8x60/modes/cpu1/standalone_power_collapse/suspend_enabled
	echo 1 > /sys/module/pm_8x60/modes/cpu1/power_collapse/idle_enabled
	echo 1 > /sys/module/pm_8x60/modes/cpu1/standalone_power_collapse/idle_enabled
	chown system /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
	chown system /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq
	# mfreq
	chown root.system /sys/devices/system/cpu/mfreq
	chmod 220 /sys/devices/system/cpu/mfreq
