import /init.${ro.hardware}.usb.rc

on early-init
    mkdir /storage 0050 system sdcard_r
    mkdir /storage/sdcard0 0000 system system
    mkdir /storage/sdcard1 0000 system system
    
    export EXTERNAL_STORAGE /storage/sdcard0
    export EXTERNAL_ALT_STORAGE /storage/sdcard1

    # for backwards compatibility
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard1 /sdcard-ext
    symlink /storage/sdcard1 /mnt/sdcard-ext
    
on init
    # create /persist
    mkdir /persist 0771 system system

on emmc-fs
    # mount mmc partitions
    wait /dev/block/mmcblk0p12
    mount ext4 /dev/block/mmcblk0p12 /system ro barrier=1
    wait /dev/block/mmcblk0p13
    mount ext4 /dev/block/mmcblk0p13 /persist nosuid nodev barrier=1
    wait /dev/block/mmcblk0p21
    mount ext4 /dev/block/mmcblk0p21 /data nosuid nodev barrier=1
    wait /dev/block/mmcblk0p14
    mount ext4 /dev/block/mmcblk0p14 /cache nosuid nodev barrier=1

on post-fs-data
    # We chown/chmod /persist again so because mount is run as root + defaults
    chown system system /persist
    chmod 0771 /persist

    # chown/chmod polling nodes as needed from UI running on system server    
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling

    mkdir /data/media 0777 media_rw media_rw
    
    # set bluetooth mac address
    setprop ro.bt.bdaddr_path "/persist/zte/bt/bt_addr.txt"	
    setprop bt.bcm_bdaddr_path "/persist/zte/bt/bt_addr.txt"	
    
    # permissions for bluetooth.
    chown bluetooth bluetooth /persist/zte/bt
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0600 /dev/ttyHS0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock
    
    # set permissions for invensense mpu
    chmod 0777 /dev/taos
	chmod 0777 /dev/mpu
	chmod 0777 /dev/mpuirq
	chmod 0777 /dev/accelirq
    chmod 0777 /dev/timerirq
    
    # workaround for sdcard service
    class_start late_start
    
    # for encrypted filesystems
    setprop vold.post_fs_data_done 1
    
on boot
    # create wifi/bluetooth directories
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth

    # set up wifi
    symlink /persist/qcom_wlan_nv.bin /etc/firmware/wlan/qcom_wlan_nv.bin
    symlink /data/hostapd/qcom_cfg.ini /etc/firmware/wlan/qcom_cfg.ini
    #insmod /system/lib/modules/dhd.ko firmware_path=/system/etc/wifi/bcm4330_b2.bin nvram_path=/persist/zte/wifi/bcm.txt
    setprop wifi.interface eth0
    
    # create location services directories
    mkdir /data/wpstiles/ 0755 shell
    mkdir /data/wiper 0755 gps qcom_oncrpc
    mkdir /data/misc/gpsone_d 0770 gpsone_d qcom_oncrpc
    
service hciattach /system/bin/brcm_patchram_plus --enable_lpm --enable_hci --baudrate 921600 --patchram /etc/firmware/bcm.hcd /dev/ttyHS0
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot
    
service wpa_supplicant /system/bin/wpa_supplicant -D wext -i eth0 -c /data/misc/wifi/wpa_supplicant.conf 
    user root
    group wifi inet
    socket wpa_eth0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -BKL
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot 
    
service gpsone_daemon /system/bin/gpsone_daemon
    class main
    user root
    group qcom_oncrpc system
    disabled

service sdcard /system/bin/sdcard /data/media 1023 1023
    class late_start
    
on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd_eth0
    
on property:init.svc.bootanim=stopped
    start qcom-post-boot
    start qcom-wifi
